<%= form_for [@goal, @task] do |f| %>
<p>
  <%= f.label :taskname %> <br>
  <%= f.text_field :taskname %>
</p>
<p>
  <%= f.label :completed %> <br>
  <%= f.check_box :completed %>
</p>
<p>
  <%= f.label :description %> <br>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :points %> <br>
  <%= f.number_field :points %>
</p>
<p>
<%= f.submit 'Submit' %>
</p>
<% end %>
